<%- include('../partials/header.ejs')%>
<nav>
    <h2>
        <a href = '/connections'>Connections</a>

</h2>
</nav>
    <main class = "container" >
        <%= connection.title%>
       <div> 
        <form>
            <button type = 'submit' formmethod="GET" formaction="/connections/<%= connection.id%>/edit">Edit</button>
            <button type = 'submit' formmethod="POST" formaction="/connections/<%= connection.id%>/?_method=DELETE">Delete</button>
        </form>
            <img src = "<%=connection.imageURL%>" width= "50%" height="50%" alt="anime">
            <p>
                Hosted by <%=connection.hostName%>
                <br> <%=connection.date%>
                <br> <%=connection.startTime%> - <%=connection.endTime %>
                <br><%=connection.date%>
                
            </p>
        <h4>Details</h4>
        <p><%=connection.details%>
        </p>
    <br>
<p>
Page built by Dale Graham
</p>
</main>
<%- include('../partials/footer.ejs')%>
