<%- include('./partials/header.ejs')%>
<nav>
    <h2>
        <a href = '/connections'>Connections</a>

</h2>
</nav>
    <main>
        <form method="POST" action="/connections/<%=connection.id%>?_method=PUT">
        Topic
        <label for="topic">
            <input class="words" id="topic" type="text" name="topic" value = "<%= connection.topic%>" size="30" placeholder="topic">
        </label> <br>
        Title
        <label for="title">
            <input class="words" id="title" type="text" name="title" value = "<%= connection.title%>"placeholder="title">
        </label> <br>
        Host     
        <label for="hostName">
                <input class="words" id="hostName" type="text" name="hostName" value = "<%= connection.hostName%>" placeholder="host">
        </label><br>
        Details
        <label for="details">
            <input class="words" id="details" type="text" name="details" value = "<%= connection.details%>" placeholder="description">
        </label> <br>
        When     
        <label for="date">
                <input class="date" id="date" type="date" name="date" value = "<%= connection.date%>">
        </label><br>
        Start     
        <label for="startTime">
                <input class="date" id="startTime" type="time" name="startTime" value = "<%= connection.startTime%>">
        </label><br>
        End    
        <label for="endTime">
            <input class="date" id="endTime" type="time" name="endTime" value = "<%= connection.endTime%>">
        </label><br>
        Image URL
        <label for="image">
            <input class="words" id="image" type="url" name="imageURL" value = "<%= connection.imageURL%>" placeholder="URL" >
        </label> <br>
        <br>
        <button type="submit">Submit</button> </form>
<br>      
<p>
Page built by Dale Graham
</p>
</main>
<%- include('./partials/footer.ejs')%>